@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-bold.woff2') format('woff2'), url('../fonts/lato-bold.woff') format('woff');
    font-weight: bold;
}

body {
    font: normal normal 16px/1.2 'lato', Arial, Helvetica, serif;
    color: #000000;
    min-width: 320px;
    text-align: center;
    background: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    overflow: hidden;
    flex-shrink: 0;
}

p {
    margin-bottom: 10px
}

a {
    color: inherit;
    text-decoration: none;
}

svg {
    width: 1rem;
    height: 1rem;
}

.center {
    margin: 0 auto;
    width: 100%;
    max-width: 1220px;
    text-align: left
}

._hidden {
    display: none;
}

form .errors {
    background: rgba(255, 0, 0, 0.43);
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4
}

form ._error {
    border-color: red;
    background-color: #ffd8d8
}

a[href^="tel:"] {
    cursor: default;
    text-decoration: none
}

.button {
    background: #eeeeee;
    text-decoration: none;
    padding: 15px 25px;
    display: inline-block;
    transition: .2s;
    border: 0;
    cursor: pointer;
}

.button:focus {
    opacity: .8
}

.title {
}

footer {
    margin-top: auto;
    flex-shrink: 0;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    font-size: 0;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    color: #fff;
    width: 60px;
    border-radius: 100%;
    margin-top: -30px;
    transition: .2s;
    text-align: center;
    cursor: pointer;
}

.slick-prev {
    left: 30px;
}

.slick-next {
    right: 30px;
}

.slick-arrow:before {
    font: normal normal normal 24px/58px FontAwesome;
}

.slick-prev:before {
    content: "\f104";
}

.slick-next:before {
    content: "\f105";
}

.slick-arrow:hover {
    background: rgba(255, 255, 255, 0.6);
}

.slick-dots {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    padding: 0;
    width: 100%;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    justify-content: center;
    list-style: none;
}

.slick-dots li {
    background: rgba(255, 255, 255, 0.6);
    font-size: 0;
    border: 0;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border-radius: 100%;
    cursor: pointer;
}

.slick-dots li.slick-active, .slick-dots li:hover {
    background: #fff;
}

.slick-dots li * {
    border: 0;
    background: none;
}

.slick-list, .slick-track {
    height: 100%;
}

.popup {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 11;
}

.popup__flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__wrapper {
    padding: 50px 94px;
    width: 500px;
    background: #fff;
}

.input-text {
    display: block;
    border: 1px solid #000;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 0;
    background: none;
    transition: .2s
}

.input-text:focus {
    border-color: #c2c2c2;
}

.input-text.error, .input-text._error {
    border-color: red
}

.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 60px;
    cursor: pointer;
    transition: .2s;
    z-index: 1;
    font-family: serif;
}

.popup__close:hover {
    color: #ff010a;
}

.popup__title {
    margin-bottom: 54px;
    font-size: 38px;
}

.input-checkbox {
    display: flex;
    position: relative;
    text-align: left;
    cursor:  pointer;
}

.input-checkbox__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    opacity: 0;
}

.input-checkbox__arrow {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #989898;
    border-radius: 100%;
    margin-right: 17px;
    color: transparent;
    transition: .2s;
}

.input-checkbox__input:checked ~ .input-checkbox__arrow {
    color: #000000;
}

.input-checkbox__arrow svg {
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.input-checkbox__text {
    flex: 1 1;
}

.input-checkbox__text a {
    text-decoration: underline;
}

.input-checkbox__text a:hover {
    text-decoration: none
}

.content__text a:not([class]) {
    text-decoration: underline
}

.burger {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer
}

.burger i {
    display: block;
    width: 100%;
    height: 6px;
    background: #757575;
    position: absolute;
    left: 0;
    transition: .3s;
}

.burger i:nth-child(1) {
    top: 0;
}

.burger i:nth-child(2) {
    top: 50%;
    margin-top: -3px;
}

.burger i:nth-child(3) {
    bottom: 0;
}

.burger._active i {
    background: #ffaa00;
}

.burger._active i:nth-child(1) {
    top: 50%;
    opacity: 0;
}

.burger._active i:nth-child(2) {
    background: transparent;
}

.burger._active i:nth-child(3) {
    bottom: 50%;
    opacity: 0;
}

.burger i:nth-child(2):after, .burger i:nth-child(2):before {
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffaa00;
    transition: inherit;
    opacity: 0;
}

.burger._active i:nth-child(2):after, .burger._active i:nth-child(2):before {
    opacity: 1;
}

.burger._active i:nth-child(2):after {
    transform: rotate(45deg);
}

.burger._active i:nth-child(2):before {
    transform: rotate(-45deg);
}

.breadcrumbs {
    list-style: none;
    padding: 20px 0 17px 0;
    font-size: 14px;
    color: #666666;
}

.breadcrumbs li {
    display: inline-block
}

.breadcrumbs li:after {
    content: '|';
    margin: 0 8px;
}

.breadcrumbs li._active:after {
    display: none;
}

.breadcrumbs li:hover a {
    text-decoration: underline;
}

.breadcrumbs li._active {
    color: red;
}
